
/* Add styles to make the header sticky */
.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}
#menu
{
    z-index: 100;
}

.book
{
    margin-top: 10px;
    height: 200px;
    width: 150px;

}
.card
{
    display: flex;
    align-items: center;
    justify-content: center;

}



        footer {
            padding: 40px ; 
        }

        
        .col-md-4 ul {
            list-style: none; 
        }

        .col-md-4 a {
            text-decoration: none;
            color: #fff; 
        }

        
        .col-md-4 a {
            display: block; 
        }

        
        .col-md-4 form {
            text-align: center; 
        }

        .col-md-4 input[type="text"],
        .col-md-4 input[type="email"],
        .col-md-4 textarea {
            margin-bottom: 10px; 
        }
/* nav bar styeling  start */
#searchbar
{
    border: 2px solid gold;
}
#searchbar::placeholder
{
    font-family: Georgia, 'Times New Roman', Times, serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
}
#searchbtn
{
    background-color:transparent;
    border: 2px gold solid;
    /* border-style: none; */
    padding-left: 5px;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
}
/* logo */
#logo
{
    font-size: 24px;
    font-weight: 500px;
    color: #272727;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo sub{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
#review
{
    text-decoration: none;
    color: #272727;
    font-weight: 500;
}
    
/* logo end */
/* menu */
nav
{
    background-color: white;
}
#menu div div ul li a 
{
    padding-left: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #272727;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#loginform button
{
    text-decoration: none;
}

/* nav bar styeling enddd */